version: "3"
services:
  login:
    build: "./login"
    ports:
      - "5001:5001"
    depends_on:
      - db
    restart: on-failure
    environment:
      - DATABASE_HOST=db
      - DATABASE_NAME=mydatabase
      - DATABASE_USERNAME=root
      - DATABASE_PASSWORD=admin@123

  systems:
    build: "./systems"
    ports:
      - "5002:5002"
    depends_on:
      - db
    restart: on-failure
    environment:
      - DATABASE_HOST=db
      - DATABASE_NAME=mydatabase
      - DATABASE_USERNAME=root
      - DATABASE_PASSWORD=admin@123

  users:
    build: "./users"
    ports:
      - "5000:5000"
    depends_on:
      - db
    restart: on-failure
    environment:
      - DATABASE_HOST=db
      - DATABASE_NAME=mydatabase
      - DATABASE_USERNAME=root
      - DATABASE_PASSWORD=admin@123

  db:
    build: "./database"
    ports:
      - "3306:3306"

  nginx:
    image: nginx:latest
    ports:
      - "8080:8080"
    volumes:
      #     - ./web/public:/srv/www/static --> use this if you any any static web apps
      - ./default.conf:/etc/nginx/conf.d/default.conf
    depends_on:
      - login
      - systems
      - users

  todo:
    build: "./todo"
    ports:
      - "5003:80"
