apiVersion: apps/v1
kind: Deployment
metadata:
  name: login-deployment
spec:
  replicas: 3
  selector:
    matchLabels:
      component: login
  template:
    metadata:
      labels:
        component: login
    spec:
      containers:
        - name: login
          image: sbalasubramanian14/login-api
          ports:
            - containerPort: 5001
          env:
            - name: DATABASE_HOST
              value: mysql-cluster-ip-service
            - name: DATABASE_NAME
              value: mydatabase
            - name: DATABASE_USERNAME
              value: root
            - name: DATABASE_PASSWORD
              value: admin@123
